---
title : "02. 리스트"
date : "05/23/23"
categories : ["Python"]
author : "GANGCHEOL LEE"
---

# list basic

`-` 리스트는 사칙연산 중 덧셈, 곱하기만 지원한다.$\to$ 그렇다고 그 연산이, 실제 더하기나 곱하기를 수행하지 않음

`-` 리스트에 더하기와 곱하기 연산은 두 개의 리스트가 주어졌을 때 단순히 이어 붙인다는 느낌이다.

## ex1. 더하기

In [2]:
a = [1,2,3]
b = [4,5,6]

In [3]:
a+b

[1, 2, 3, 4, 5, 6]

`-` R에서처럼 브로드캐스팅이 수행되지 않음

In [9]:
a+1

TypeError: can only concatenate list (not "int") to list

## ex.2 곱하기

`-` 아래와 같은 연산은 수행되지 않음

In [5]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [6]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

`-` 즉, 곱하기 연산은 특정 리스트를 얼마만큼 반복해서 채워넣느냐를 의미한다.

## ex3. 실제 더하기 수행

`-` 리스트에서 실제 더하기를 수행은 다음과 같이 이루어진다.

In [11]:
a,b

([1, 2, 3], [4, 5, 6])

In [10]:
[a[0]+b[0],a[1]+b[1],a[2]+b[2]]

[5, 7, 9]

### numpy를 이용한 풀이

`-` 패키지를 설치하는 방법

* pip install numpy $\to$ 최신버전 설치

* conda install -c conda-forge numpy -y $\to$ 안전한 버전을 설치

In [13]:
#conda install -c conda-forge numpy -y

In [14]:
import numpy as np

In [15]:
a,b

([1, 2, 3], [4, 5, 6])

In [16]:
aa = np.array(a)
bb = np.array(b)

In [17]:
aa+bb

array([5, 7, 9])

# list advanced

`-` 리스트는 단순히 int, float 뿐만 아니라 다양한 타입의 데이터를 저장할 수 있다.

## ex1

In [18]:
lst = [1, 3.14, True, "a",[1,2],(1,2),
        {"namme" :"iu", "age":27},{1,2,3}]

In [23]:
for i in range(len(lst)) :
        print(lst[i]," ",type(lst[i]))

1   <class 'int'>
3.14   <class 'float'>
True   <class 'bool'>
a   <class 'str'>
[1, 2]   <class 'list'>
(1, 2)   <class 'tuple'>
{'namme': 'iu', 'age': 27}   <class 'dict'>
{1, 2, 3}   <class 'set'>

`-` 또한, 리스트는 가면 객체, 즉 원소를 수정할 수 있다.

## ex2

In [24]:
a =[1,2,3]

In [26]:
a

[1, 2, 3]

In [27]:
a[0] =1000

In [28]:
a

[1000, 2, 3]

`-` 또한, 가변 객체이므로 삭제 기능 또한 제공한다.

## ex3

In [35]:
a = list(range(7))
a

[0, 1, 2, 3, 4, 5, 6]

In [36]:
del a[0]

In [37]:
a

[1, 2, 3, 4, 5, 6]

In [38]:
a.pop(0)

1

In [39]:
a

[2, 3, 4, 5, 6]

# Excercise

## (1) 길이가 0인 리스트 생성

### Solution

In [41]:
a=[]

In [42]:
len(a)

0

## (2) 다음의 실행값 중 가장 큰 숫자가 나오는 보기를 골라라.

``` python
(a) len(3.14) 
(b) len([3.14]) 
(c) len('3.14')
```

### Solution

In [44]:
len(3.14)

TypeError: object of type 'float' has no len()

In [45]:
len([3.14])

1

In [46]:
len('3.14')

4

따라서 답은 `(c)`

## (3) 아래의 예제를 관찰하라

In [47]:
'제 이름은 {}입니다'.format('이강철')

'제 이름은 이강철입니다'

이 예제를 바탕으로 문자열에 포함된 `.format()` 함수의 기능을 유추하라. 그리고 아래의 결과를 확인하라.

### Solution

In [49]:
st = '전북대학교 학생엠티가 {}월{}일-{}월{}일 완주 곶감펜션에서 있다고 합니다. 자세한 일정 등은 다시 공지하겠습니다.' 
st

'전북대학교 학생엠티가 {}월{}일-{}월{}일 완주 곶감펜션에서 있다고 합니다. 자세한 일정 등은 다시 공지하겠습니다.'

In [50]:
st.format(3,24,3,25)

'전북대학교 학생엠티가 3월24일-3월25일 완주 곶감펜션에서 있다고 합니다. 자세한 일정 등은 다시 공지하겠습니다.'

## (4) 아래의 예제를 관찰하라.

In [51]:
'abcdefg'.replace('g','u')

'abcdefu'

이 예제를 바탕으로 문자열의 .replace() 기능을 유추하라.

### Solution

replace 함수는 string 객체의 특정 문자열을 새로운 문자로 바꿔주는 함수이다.

In [62]:
a = ["a","a","a"]

In [63]:
a.replace("a","b")

AttributeError: 'list' object has no attribute 'replace'

위와 같이 list객체에 적용 시 수행되지 않는다. 이 경우 loop를 이용해서 바쭤주어야 한다.

In [64]:
b = []
for i in a :
    b.append(i.replace("a","b"))

In [65]:
b

['b', 'b', 'b']

## (5) 리스트 자료형의 `+, *` 을 이용하여 아래와 같은 list를 생성

In [66]:
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]

### Solution

In [75]:
result = []
for i in range(1,6) :
    temp =[i]
    result += temp*i

In [76]:
result

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]

## (6) 넘파이를 이용하여 아래와 같은 결과가 나오도록 코드를 작성하라.

$$\begin{bmatrix}1 \\ 2 \end{bmatrix} + \begin{bmatrix}11 \\ 22 \end{bmatrix}= \begin{bmatrix}12 \\ 24 \end{bmatrix}$$

### Solution

In [78]:
a = np.array([1,2])
b = np.array([11,22])
a,b

(array([1, 2]), array([11, 22]))

In [81]:
list(a+b)

[12, 24]

## (7) 다음과 같은 결과를 출력하는 코드를 작성

$$a = \begin{bmatrix} 12 \\ 24\end{bmatrix}$$

$$2a = \begin{bmatrix} 24 \\ 48\end{bmatrix}$$

## Solution

In [88]:
a = np.array([12,24])

In [89]:
a2 = list(2*a)

In [90]:
a2

[24, 48]