---
title : "03. 튜플"
date : "08/03/23"
categories : ["Python"]
author : "GANGCHEOL LEE"
---

# tuple advanced

## Why use(1)

`-` 빠르고, 다중 작업에 유리

`-` 메모리 관리측면에서도 좋음, 또한, 소괄호 생략

## 슬기로운 튜플사용( $\star \star \star$ )

`-` 예제1: 여러개의 변수를 동시 출력 및 할당

In [4]:
name, age, sex, height, weight = 'Tom', 20, 'M', 180, 70

In [5]:
name, age, sex, height, weight

('Tom', 20, 'M', 180, 70)

`-` 예제 2: 다중할당 및 위도와 경도

In [7]:
coor = (37,127)

In [8]:
coor

(37, 127)

In [9]:
lat, long = coor

In [10]:
lat

37

In [11]:
long

127

`-` 예제3 : text

In [12]:
x,y = 'hi'
x,y

('h', 'i')

`-` 예제4 : 두 변수의 값을 교환

In [13]:
a = 10
b = 20

In [14]:
a,b = b,a

In [15]:
a

20

In [16]:
b

10

`-` 예제 4: for문

In [17]:
lst = [['gc', 2021502565, 'M'],
       ['iu',202254321, 'F'],
       ['hodong', 202011223, 'M']]
lst

[['gc', 2021502565, 'M'], ['iu', 202254321, 'F'], ['hodong', 202011223, 'M']]

In [20]:
for name, s, sex in lst :
    print(name,s,sex)

gc 2021502565 M
iu 202254321 F
hodong 202011223 M

`-` 예제 5 : for + tuple + "_"

In [21]:
for _,s,_ in lst :
    print(s)

2021502565
202254321
202011223

In [22]:
for _,_,s in lst :
    print(s)

M
F
M

In [23]:
for n,_,s in lst :
    print(n,s)

gc M
iu F
hodong M

`-` args는 특정하지 않은 여러개의 인자를 tuple형태로 받는다.

In [25]:
for name,*args  in lst: 
    print(name)

gc
iu
hodong

`-` 예제 : 튜플과 언패킹연산자 `*`

In [27]:
head, body,*tail = range(1,11)

In [28]:
head,body,tail

(1, 2, [3, 4, 5, 6, 7, 8, 9, 10])

In [31]:
head1,head2, *body, tail1,tail2,tail3 = range(1,11) 
head1,head2, body, tail1,tail2,tail3

(1, 2, [3, 4, 5, 6, 7], 8, 9, 10)

(관찰)

In [33]:
head1,head2, body, tail1,tail2,tail3  = (1, 2, [3,4,5,6,7], 8, 9, 10)

In [40]:
*body

SyntaxError: can't use starred expression here (1094250779.py, line 1)

In [41]:
print(*body)

3 4 5 6 7

In [42]:
body

[3, 4, 5, 6, 7]

In [43]:
print(body)

[3, 4, 5, 6, 7]

`-` 예제1

* 아래의 함수는 여러개의 값을 리턴하는 것처럼 보이나, 사실은 길이가 4인, 튜플1개만을 return 한다.

In [2]:
def cal(a,b):
    return a+b,a-b,a*b,a/b

In [3]:
cal(2,3)

(5, -1, 6, 0.6666666666666666)

`-` 왜 튜플만이 괄호를 생략할 수 있는가?

* 튜플을 먼저 만들고, 괄호를 생략하는 문법을 추가한 것은 아닐것이다.

* 원래는 괄호없이 벡터를 만들고 싶었을 것임

* 차피 벡터는 한 두번 쓰고 버리는 경우가 많고, 대부분 이름도 필요없음

* 즉, 원소에 접근해서 sorting하고 순서를 바꿀 필요가 없다는 것임

* 데이터를 분석하면서 우리에게 필요한 것은, 데이터가 벡터 형태로 모여, 하나의 데이터프레임을 구축하기만 하면된다.

***

# Excersise

## (1) 자신의 학번과 영문이름을 각각 길이가 1인 튜플로 만든 후 합쳐라

In [50]:
num = '202150256',
name = 'gc',

In [51]:
num+name

('202150256', 'gc')

## (2) 다음의 중첩리스트를 보고 해당 강의의 수강생 수를 구하여라

`-` 수강생들의 학번, 이름, 출석점수, 과제점수, 중간고사점수, 기말고사점수

In [52]:
lst = [['2021-43052', 'GuebinChoi', 5, 10, 20, 25],
       ['2019-12342', 'Heung-min Son', 10, 15, 30, 15],
       ['2018-32234', 'hynn', 7, 20, 30, 15],
       ['2022-42323', 'Minji', 8, 20, 20, 35],
       ['2023-55342', 'Hanni', 7, 20, 30, 35],
       ['2022-46624', 'Danielle', 3, 15, 30, 40],
       ['2022-11239', 'Haerin', 10, 20, 30, 40],
       ['2022-32114', 'Hyein', 10, 20, 20, 35]]
lst

[['2021-43052', 'GuebinChoi', 5, 10, 20, 25],
 ['2019-12342', 'Heung-min Son', 10, 15, 30, 15],
 ['2018-32234', 'hynn', 7, 20, 30, 15],
 ['2022-42323', 'Minji', 8, 20, 20, 35],
 ['2023-55342', 'Hanni', 7, 20, 30, 35],
 ['2022-46624', 'Danielle', 3, 15, 30, 40],
 ['2022-11239', 'Haerin', 10, 20, 30, 40],
 ['2022-32114', 'Hyein', 10, 20, 20, 35]]

In [53]:
len(lst)

8

## (3) 출석점수가 <7일 미만인 학생 수를 구하여라

In [55]:
sum([s<7 for _,_,s,*args in lst])

2

## (4) 출석 + 과제 <21인 학생 수

In [56]:
sum([(s1+s2)<21 for _,_,s1,s2,*args in lst])

2

## (5) 리스트의 정렬순서를 [이름,학번..., 기말고사]와 같이 변경

In [59]:
[[name,id,*a]for id, name, *a in lst]

[['GuebinChoi', '2021-43052', 5, 10, 20, 25],
 ['Heung-min Son', '2019-12342', 10, 15, 30, 15],
 ['hynn', '2018-32234', 7, 20, 30, 15],
 ['Minji', '2022-42323', 8, 20, 20, 35],
 ['Hanni', '2023-55342', 7, 20, 30, 35],
 ['Danielle', '2022-46624', 3, 15, 30, 40],
 ['Haerin', '2022-11239', 10, 20, 30, 40],
 ['Hyein', '2022-32114', 10, 20, 20, 35]]

## (6) split

In [60]:
'2023-03-22'.split('-')

['2023', '03', '22']

## (7) (6)의 결과를 되돌리는 코드를 작성

In [62]:
"-".join('2023-03-22'.split('-'))

'2023-03-22'

## (8) 다음 텍스트의 문장 개수는?

In [63]:
text = "국내뿐 아니라 해외 인기도 심상치 않다. 2023년 1월 18일 'Ditto'가 빌보드 핫 100에 96위로 진입했다. 이는 K-pop 역사상 데뷔후 최단 빌보드 Hot 100 차트 입성 기록이다. 다른 뮤지션들이 보통 데뷔 후 수년간 쌓아온 팬덤을 기반으로 빌보드에 입성한데 비해, 뉴진스의 기록은 이례적인 것으로 평가받고 있다. 또한 'OMG'가 빌보드 핫 100에 91위로 진입한 동시에 'Ditto'는 85위로 순위가 상승, 핫 100 주간차트에 두 곡을 올려놓았다. K-Pop 역사상 이 차트에 두 곡 이상을 진입시킨 아티스트는 방탄소년단과 블랙핑크가 유일하다. 'Ditto'는 1월 셋째주 기준, 빌보드뿐만 아니라 영국 오피셜 싱글 차트 '톱 100'에 2주 연속 진입하기도 했다."

In [64]:
text

"국내뿐 아니라 해외 인기도 심상치 않다. 2023년 1월 18일 'Ditto'가 빌보드 핫 100에 96위로 진입했다. 이는 K-pop 역사상 데뷔후 최단 빌보드 Hot 100 차트 입성 기록이다. 다른 뮤지션들이 보통 데뷔 후 수년간 쌓아온 팬덤을 기반으로 빌보드에 입성한데 비해, 뉴진스의 기록은 이례적인 것으로 평가받고 있다. 또한 'OMG'가 빌보드 핫 100에 91위로 진입한 동시에 'Ditto'는 85위로 순위가 상승, 핫 100 주간차트에 두 곡을 올려놓았다. K-Pop 역사상 이 차트에 두 곡 이상을 진입시킨 아티스트는 방탄소년단과 블랙핑크가 유일하다. 'Ditto'는 1월 셋째주 기준, 빌보드뿐만 아니라 영국 오피셜 싱글 차트 '톱 100'에 2주 연속 진입하기도 했다."

In [68]:
len(text.split(". "))

7

## (9) 각 문장의 단어 개수

In [70]:
str1 = text.split(". ")

In [72]:
[ len(i.split(" ")) for i in str1]

[6, 9, 11, 18, 18, 12, 16]

## (10) 100이란 단어가 포함된 문장은 모두 몇개인가?

In [75]:
sum(["100" in i for i in str1])

4

***

# 유용한 기술

## 스트라이딩

`-` start:end:step

In [88]:
lst = list('abcdefghijk')
lst

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

`-` 첫 번째 글자부터 8번째 글자까지 3칸씩 출력

In [89]:
lst[0:9:3]

['a', 'd', 'g']

In [92]:
lst[0:9]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [91]:
lst[0:9:]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [93]:
lst[0:9:1]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

`-` step이 `-1`이면?

In [104]:
lst

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [105]:
lst[::-1]

['k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

### step=-1 vs revers()

In [109]:
lst = list('abcdefgh')
lst

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

`-` 아래와 같이 `step=-1` 객체를 변환하지않음

In [110]:
lst[::-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [111]:
lst

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

`-` reverse는 변환한 형태로 객체를 저장

In [112]:
lst.reverse()

In [113]:
lst

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

## 인덱스가 짝수/홀수 원소 추출

In [94]:
lst = list('abcdefghijk')
lst

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

`-` 짝수 추출

In [96]:
lst[::2]

['a', 'c', 'e', 'g', 'i', 'k']

`-` 홀수 추출

In [97]:
lst[1::2]

['b', 'd', 'f', 'h', 'j']

## 문자열 세로로 읽기

In [98]:
txt = '너같이사랑스럽고\n또예쁘고도멋지고\n속훤히보이는너알\n았어그동안고마웠\n지정말정말사랑해'
print(txt)

너같이사랑스럽고
또예쁘고도멋지고
속훤히보이는너알
았어그동안고마웠
지정말정말사랑해

In [102]:
txt[::9]

'너또속았지'

***

# 컴프리헨션 고급

## if + 컴프리헨션

### 예제1

`-` 제곱수중에서 12로 나누어 떨어지는 수만 원소로 가지는 리스트를 만들고 싶다.

#### Sol

`-` 풀이1

In [125]:
result = [i**2 for i in range(1,101) if i**2 % 12==0]

In [127]:
print(result)

[36, 144, 324, 576, 900, 1296, 1764, 2304, 2916, 3600, 4356, 5184, 6084, 7056, 8100, 9216]

`-` 위 결과는 아래와 같다.

In [134]:
lst=[]
for i in range(1,101) :
    if i**2 % 12 == 0:
        lst.append(i**2)

In [135]:
print(lst)

[36, 144, 324, 576, 900, 1296, 1764, 2304, 2916, 3600, 4356, 5184, 6084, 7056, 8100, 9216]

### 예제2

`-` 홀짝 함수 + 컴프리헨션

In [137]:
def test(x) :
    return "even" if x % 2==0 else "odd"

In [141]:
[test(i) for i in range(1,10)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']