---
title : "04. data processing"
author : "GANGCHEOL LEE"
date : "07/06/23"
categories : "Python"
---

# Python 활용한 데이터 전처리

데이터 분석/AI 모델링을 위하여 데이터를 정제하는 전처리 방법을 실습해 봅시다.    
우선 확보한 데이터를 전처리를 위해 불러옵니다.     
AI/DU 포탈의 데이터관리탭에 데이터를 Upload 했다면 아래 코드를 실행하여 JupyterLab 환경으로 불러 올 수 있습니다

In [169]:
# #AIDU환경 사용자
import pandas as pd

# from aicentro.session import Session
# from aicentro.framework.keras import Keras as AiduFrm

# aidu_session = Session(verify=False)
# aidu_framework = AiduFrm(session=aidu_session) 

# #sc_cust_info_txn.csv대시 AI/DU 포탈내 데이터 관리에 있는 불러오기를 원하는 파일명을 입력해 주면 됩니다. 
# df = pd.read_csv(aidu_framework.config.data_dir + '/sc_cust_info_txn_v1.5.csv')

개별 환경 사용자라면 ipynb 파일과 같은 Workspace에 sc_cust_info_txn_v1.5.csv파일을 넣어서 아래 코드를 실행하여 데이터를 불러 올 수 있습니다.

In [170]:
#개별 환경 사용자
df=pd.read_csv("sc_cust_info_txn_v1.5.csv")

In [171]:
df

,base_ym,dpro_tgt_perd_val,cust_ctg_type,cust_class,sex_type,age,efct_svc_count,dt_stop_yn,npay_yn,r3m_avg_bill_amt,r3m_A_avg_arpu_amt,r3m_B_avg_arpu_amt,r6m_A_avg_arpu_amt,r6m_B_avg_arpu_amt,termination_yn
0,202006,20200630,10001,C,F,28,0,N,N,2640.0000,792.000000,1584.0000,0.0,0.0000,Y
1,202006,20200630,10001,_,_,_,1,N,N,300.0000,90.000000,180.0000,0.0,0.0000,Y
2,202006,20200630,10001,E,F,24,1,N,N,16840.0000,2526.000000,6983.0000,0.0,6981.0000,N
3,202006,20200630,10001,F,F,32,1,N,N,15544.7334,2331.710010,6750.4666,0.0,6508.8000,N
4,202006,20200630,10001,D,M,18,1,N,N,4700.0000,0.000000,4502.0000,0.0,4507.7000,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9925,202006,20200630,10001,C,F,15,1,N,Y,1296.0999,194.414985,643.1001,0.0,852.5499,N
9926,202006,20200630,10001,G,M,12,1,N,N,13799.6666,2069.949990,10605.9266,0.0,10603.9266,N
9927,202006,20200630,10005,C,_,_,1,N,N,1396.2000,1206.000000,0.0000,1212.0,0.0000,N
9928,202006,20200630,10001,C,F,40,0,N,N,3140.0000,942.000000,1884.0000,0.0,0.0000,Y
9929,202006,20200630,10001,C,F,59,1,N,N,2436.9000,365.535000,1839.9000,0.0,1919.7999,N

## 1. 데이터 탐색하기
### 1-1. 데이터 확인하기

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9930 entries, 0 to 9929
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   base_ym             9930 non-null   int64
 1   dpro_tgt_perd_val   9930 non-null   int64
 2   cust_ctg_type       9930 non-null   int64
 3   cust_class          9930 non-null   object
 4   sex_type            9930 non-null   object
 5   age                 9930 non-null   object
 6   efct_svc_count      9930 non-null   int64
 7   dt_stop_yn          9930 non-null   object
 8   npay_yn             9930 non-null   object
 9   r3m_avg_bill_amt    9930 non-null   float64
 10  r3m_A_avg_arpu_amt  9930 non-null   float64
 11  r3m_B_avg_arpu_amt  9930 non-null   float64
 12  r6m_A_avg_arpu_amt  9930 non-null   float64
 13  r6m_B_avg_arpu_amt  9930 non-null   float64
 14  termination_yn      9930 non-null   object
dtypes: float64(5), int64(4), object(6)
memory usage: 1.1+ MB

head와 tail은 sample 데이터 확인이 가능합니다.

In [173]:
df.head()

,base_ym,dpro_tgt_perd_val,cust_ctg_type,cust_class,sex_type,age,efct_svc_count,dt_stop_yn,npay_yn,r3m_avg_bill_amt,r3m_A_avg_arpu_amt,r3m_B_avg_arpu_amt,r6m_A_avg_arpu_amt,r6m_B_avg_arpu_amt,termination_yn
0,202006,20200630,10001,C,F,28,0,N,N,2640.0000,792.00000,1584.0000,0.0,0.0,Y
1,202006,20200630,10001,_,_,_,1,N,N,300.0000,90.00000,180.0000,0.0,0.0,Y
2,202006,20200630,10001,E,F,24,1,N,N,16840.0000,2526.00000,6983.0000,0.0,6981.0,N
3,202006,20200630,10001,F,F,32,1,N,N,15544.7334,2331.71001,6750.4666,0.0,6508.8,N
4,202006,20200630,10001,D,M,18,1,N,N,4700.0000,0.00000,4502.0000,0.0,4507.7,N

In [174]:
 df.tail()

,base_ym,dpro_tgt_perd_val,cust_ctg_type,cust_class,sex_type,age,efct_svc_count,dt_stop_yn,npay_yn,r3m_avg_bill_amt,r3m_A_avg_arpu_amt,r3m_B_avg_arpu_amt,r6m_A_avg_arpu_amt,r6m_B_avg_arpu_amt,termination_yn
9925,202006,20200630,10001,C,F,15,1,N,Y,1296.0999,194.414985,643.1001,0.0,852.5499,N
9926,202006,20200630,10001,G,M,12,1,N,N,13799.6666,2069.949990,10605.9266,0.0,10603.9266,N
9927,202006,20200630,10005,C,_,_,1,N,N,1396.2000,1206.000000,0.0000,1212.0,0.0000,N
9928,202006,20200630,10001,C,F,40,0,N,N,3140.0000,942.000000,1884.0000,0.0,0.0000,Y
9929,202006,20200630,10001,C,F,59,1,N,N,2436.9000,365.535000,1839.9000,0.0,1919.7999,N

describe를 통해 수학적 통계를 확인해 보는 작업도 해봅시다.

In [175]:
df.describe()

,base_ym,dpro_tgt_perd_val,cust_ctg_type,efct_svc_count,r3m_avg_bill_amt,r3m_A_avg_arpu_amt,r3m_B_avg_arpu_amt,r6m_A_avg_arpu_amt,r6m_B_avg_arpu_amt
count,9930.0,9930.0,9930.000000,9930.000000,9.930000e+03,9.930000e+03,9.930000e+03,9.930000e+03,9930.000000
mean,202006.0,20200630.0,10001.372810,1.520040,1.181774e+04,1.897536e+03,6.395259e+03,8.496206e+02,4624.897630
std,0.0,0.0,1.605016,15.404037,1.397822e+05,1.235342e+04,8.346138e+04,1.235124e+04,4561.049131
min,202006.0,20200630.0,10001.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,202006.0,20200630.0,10001.000000,1.000000,3.624503e+03,3.240000e+02,1.260000e+03,0.000000e+00,0.000000
50%,202006.0,20200630.0,10001.000000,1.000000,8.284467e+03,1.593307e+03,4.768617e+03,0.000000e+00,3959.316700
75%,202006.0,20200630.0,10001.000000,1.000000,1.372000e+04,2.308360e+03,7.982000e+03,1.006125e+03,7741.006900
max,202006.0,20200630.0,10010.000000,905.000000,1.281568e+07,1.188998e+06,7.689409e+06,1.208498e+06,64947.092000

### 1-2. 필요한 컬럼만 추출하기

`-` 데이터 처리에 필요한 10개 항목만 추출

```{python}
고객등급(cust_class), 성별(sex_type), 나이(age), 

사용서비스수(efct_svc_count), 서비스중지여부 (dt_stop_yn), 미납여부(npay_yn),

3개월 평균 요금(r3m_avg_bill_amt), A서비스 3개월 평균요금(r3m_A_avg_arpu_amt), 

B서비스 3개월 평균요금(r3m_B_avg_arpu_amt), 해지여부(termination_yn)
```

In [176]:
cust=df[["cust_class","sex_type","age","efct_svc_count","dt_stop_yn","npay_yn","r3m_avg_bill_amt","r3m_A_avg_arpu_amt","r3m_B_avg_arpu_amt", "termination_yn"]]
cust.head()

,cust_class,sex_type,age,efct_svc_count,dt_stop_yn,npay_yn,r3m_avg_bill_amt,r3m_A_avg_arpu_amt,r3m_B_avg_arpu_amt,termination_yn
0,C,F,28,0,N,N,2640.0000,792.00000,1584.0000,Y
1,_,_,_,1,N,N,300.0000,90.00000,180.0000,Y
2,E,F,24,1,N,N,16840.0000,2526.00000,6983.0000,N
3,F,F,32,1,N,N,15544.7334,2331.71001,6750.4666,N
4,D,M,18,1,N,N,4700.0000,0.00000,4502.0000,N

`-`  컬럼명을 간결하고 직관적으로 변경.

In [177]:
cust=cust.rename(columns = {"cust_class" : 'class',"sex_type":'sex', "efct_svc_count":'service', "dt_stop_yn":'stop',"npay_yn":'npay', "r3m_avg_bill_amt":'avg_bill', "r3m_A_avg_arpu_amt":"A_bill", "r3m_B_avg_arpu_amt":'B_bill', "termination_yn":'termination'})
cust.head()

,class,sex,age,service,stop,npay,avg_bill,A_bill,B_bill,termination
0,C,F,28,0,N,N,2640.0000,792.00000,1584.0000,Y
1,_,_,_,1,N,N,300.0000,90.00000,180.0000,Y
2,E,F,24,1,N,N,16840.0000,2526.00000,6983.0000,N
3,F,F,32,1,N,N,15544.7334,2331.71001,6750.4666,N
4,D,M,18,1,N,N,4700.0000,0.00000,4502.0000,N

In [178]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9930 entries, 0 to 9929
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   class        9930 non-null   object
 1   sex          9930 non-null   object
 2   age          9930 non-null   object
 3   service      9930 non-null   int64
 4   stop         9930 non-null   object
 5   npay         9930 non-null   object
 6   avg_bill     9930 non-null   float64
 7   A_bill       9930 non-null   float64
 8   B_bill       9930 non-null   float64
 9   termination  9930 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 775.9+ KB

### 1-3. 데이터 타입 변경하기

`-` 데이터를 불러온 후에는 반드시 데이터 타입을 확인하자.

`-` 숫자형 데이터가 문자형으로 지정되어 있거나 혹은 그반의 경우 원하는 데이터 처리 결과가 도출 되지 않을 수 있음.

`-` 숫자형 데이터가 문자형으로 저장된 경우의 사칙연산

In [179]:
cust['age'][3]+cust['age'][4]

'3218'

`-` age 항목을 Intger type으로 변경

* 결측치가 문자 '_'로 되어있어 에러발생

In [180]:
cust=cust.astype({'age': int})

ValueError: invalid literal for int() with base 10: '_'

`-` "_" 항목을 NaN 값으로 치환

In [ ]:
import numpy as np
cust = cust.replace("_", np.NaN)

In [ ]:
cust.info()

In [ ]:
#age 항목의 type 변경
#NaN의 경우 int type을 지원하지 않아 float type으로 변경
cust=cust.astype({'age': float })

In [ ]:
cust.info()

In [ ]:
cust.head()

## 2. 결측치 처리하기

`-` 파이썬에서 Copy 메소드를 사용하지 않으면 주소값을 복사해서 사용기 때문에 원본 값을 변경 시킴   

`-` 따라서 원본 항목을 보전하면서 데이터를 보정하려면 copy 메소드를 사용하자.

In [ ]:
# Cust Data 복사
cust_fix=cust.copy()
cust_fix.head()

In [ ]:
test=cust
test.head()

In [ ]:
test['age']=0
test.head()

In [ ]:
# test 데이터 변경 후 Cust 데이터 확인
cust.head()

In [ ]:
#Copy 메소드로 변경한 Cust_fix 데이터 확인
cust_fix.head()

`-` "test" 데이터프레임을 생성 후 값 변경 결과 원본데이터에 반영됨.

`-` 그러나 `copy` method를 사용한 데이터프레임의 경우 원본 데이터의 변경이 일어나지 않음.

In [ ]:
cust=cust_fix.copy()

### 2-1. <b>결측치 채우기 </b>

`-` **"fillna"** 함수를 사용해서 특정 숫자나 문자로 결측치를 처리하는 방법

In [ ]:
cust_fix.info()

In [ ]:
cust=cust.fillna(15)
cust.head()

In [ ]:
cust.info()

`-` fillna의 Method 파라미터를 사용하면, 사용자가 지정하는 일괄적인 값이 아닌 주변값을 활용하여 결측치를 채울수 있다.

`-` 뒤에 있는 data를 사용해서 결측치를 처리하는 방법

In [ ]:
cust=cust_fix.copy()
cust=cust.fillna(method='backfill')
cust.head()

`-` 앞에 있는 data를 사용해서 결측치를 처리하는 방법

In [ ]:
cust=cust_fix.copy()
cust=cust.fillna(method='ffill')
cust.head()

$\divideontimes$ **Method 파리미터사용시 첫 Record 또는 마지막 Record가 결측치 인지 확인해야 합니다.**

`-` Replace 함수를 사용해도 결측치 채우기가 가능 (중앙값 이용)

In [ ]:
cust=cust_fix.copy()
cust['age']=cust['age'].replace(np.nan, cust['age'].median())
cust.head()

`-` interpolate() 함수로 결측치 채우기 $\to$ 선형방식은 값들을 같은 간격으로 처리

In [ ]:
cust=cust_fix.copy()
cust=cust.interpolate()
cust.head()

### 2-2. 결측치 제거

`-` 결측치를 채우기로 처리하다보면 경우에 따라 값의 왜곡이 크게 발생하는 발생 하는 경우가 있습니다.    
`-` 이때는 제거하기 기법을 사용하여 결측치를 처리하면 데이터의 정합성을 보존 할 수 있습니다.

* listwise 방식 : record의 항목 중 1개의 값이라도 NA이면 해당 데이터 행 전체 제거

* pairwise 방식 : 모든 항목이 NA인 데이터 행만 제거

In [ ]:
#listwise 방식으로 제거 하기
cust=cust_fix.copy()
cust=cust.dropna()
cust.info()

In [ ]:
#pairwise 방식으로 제거하기
cust=cust_fix.copy()
cust=cust.dropna(how='all')
cust.info()

`-` pairwise 방식 확인을 위한 데이터 임의 변경

In [ ]:
cust=cust_fix.copy()
cust[['npay','stop','termination']]=cust[['npay','stop','termination']].replace('N', np.nan)

cust[['service','avg_bill','A_bill','B_bill']]=cust[['service','avg_bill','A_bill','B_bill']].replace(0, np.nan)

cust=cust.dropna(how='all')

cust[['npay','stop','termination']]=cust[['npay','stop','termination']].replace(np.nan,'N')

cust[['service','avg_bill','A_bill','B_bill']]=cust[['service','avg_bill','A_bill','B_bill']].replace(np.nan, 0)

In [ ]:
cust.info()

In [ ]:
cust=cust_fix.copy()
cust[(cust['avg_bill']==0)]

`-` NA의 갯수에 따라 결측데이터를 판단하고자 한다면, thresh 파라미터를 사용

`-` NA가 아닌값이 n개 이상인(한 개체에서) 경우만 남겨라는 뜻으로 해석하면 됩니다.

`-` 임계치를 설정해서 제거하기

In [ ]:
cust=cust_fix.copy()
cust=cust.dropna(thresh=10)
cust.info()

특정 열에 있는 NA만 참고하여 결측치를 제거하려면 Subset 파라미터를 사용

특정열 안에서만 삭제하기

In [ ]:
cust=cust_fix.copy()
cust=cust.dropna(subset=['class'])
cust.info()

## [실습1] 수업용 데이터 결측치 처리 하기

`-` age를 제외한 모든 연속형 변수의 결측치를 0으로 바꾼 후, 결측치가 1개라도 있는 데이터는 제거

In [ ]:
cust=cust_fix.copy()

In [ ]:
cust.info()

In [ ]:
cust.service.unique()

In [ ]:
cust[['service','avg_bill','A_bill','B_bill']]=cust[['service','avg_bill','A_bill','B_bill']].fillna(0)
cust.head()

In [ ]:
cust=cust.dropna()

## 3. 이상치 처리하기

### 3-1. 범주형 데이터 이상치 처리

`-` 범주형 데이터의 경우 value_counts 메소드를 사용하면, 값의 분포와 함께 Trash 값이 있는지도 확인 가능합니다.

`-` 범주형 데이터의 값 분포 확인

In [ ]:
print(cust['sex'].value_counts())

In [ ]:
print(cust['class'].value_counts())

In [ ]:
print(cust['npay'].value_counts())

`-` Class의 값에는 'C, D, E, F, G, H'가 들어있는것을 확인    

* 실제로 그렇지는 않지만 'H'가 실제로는 존재하지 않는 값이라고 가정 $\to$ 이상치

`-` 이상치 제거하기

In [ ]:
cust_data=cust[(cust['class']!='H')]

print(cust_data['class'].value_counts())

`-` 이상치 변경하기

In [ ]:
cust_data=cust.copy()

cust_data['class']=cust_data['class'].replace('H','F')

print(cust_data['class'].value_counts())

### 3-2. 수치형 데이터 이상치 처리

In [ ]:
cust.describe()

`-` Q1와 Q3가 거리의 1.5배가 넘어가는 값을 Outlier 라고 판단    
`-` 이 값들은 이상치로써 일반적으로 제거 또는 변경하여 데이터를 분석,학습    

(단, 이상치 분석시에는 제거하지 않습니다.)

$$\text {IQR} = 1.5 \times (\text {Q}_3-\text {Q}_1)$$

$$ \text {Outlier} < \text{Q}_1 - \text{IQR} \quad \&  \quad \text {Outlier} > \text{Q}_3 + \text{IQR}$$

In [ ]:
#이상치를 제거하는 함수 만들기
def removeOutliers(x, column):
    # Q1, Q3구하기
    q1 = x[column].quantile(0.25)
    q3 = x[column].quantile(0.75)
    
    # 1.5 * IQR(Q3 - Q1)
    iqr = 1.5 * (q3 - q1)
    
    # 이상치를 제거
    y=x[(x[column] < (q3 + iqr)) & (x[column] > (q1 - iqr))]
    
    return(y)

In [ ]:
#연속형 데이터의 이상치 제거하기
cust_data=removeOutliers(cust, 'avg_bill')
cust_data.describe()

In [ ]:
cust_data.info()

`-` 동일한 함수로 나머지 연속형 변수에 대해서도 이상치를 처리

In [ ]:
cust_data=removeOutliers(cust_data, 'A_bill')
cust_data=removeOutliers(cust_data, 'B_bill')
cust_data.describe()

In [ ]:
cust_data.info()

`-` 이상치를 변경하는 함수 만들기

* `q1-IQR` 값보다 작은값들을 `q1-iqr` 값으로 대체

* `q3+IQR` 값보다 큰값들을 `q1+iqr` 값으로 대체

In [ ]:
def changeOutliers(data, column):
    x=data.copy()
    # Q1, Q3구하기
    q1 = x[column].quantile(0.25)
    q3 = x[column].quantile(0.75)
    
    # 1.5 * IQR(Q3 - Q1)
    iqr = 1.5 * (q3 - q1)
    
    #이상치 대체값 설정하기
    Min = 0
    if (q1 - iqr) > 0 : Min=(q1 - iqr)
        
    Max = q3 + iqr
    
    # 이상치를 변경
    # X의 값을 직졉 변경해도 되지만 Pyhon Warning이 나오기 떄문에 인덱스를 이용
    x.loc[(x[column] > Max), column]= Max
    x.loc[(x[column] < Min), column]= Min
    
    return(x)

In [ ]:
#연속형 데이터의 이상치 변경하기
cust_data=changeOutliers(cust, 'avg_bill')
cust_data.describe()

In [ ]:
cust.describe()

In [ ]:
# 동일한 함수로 나머지 연속형 변수에 대해서도 이상치를 처리
cust_data=changeOutliers(cust_data, 'A_bill')
cust_data=changeOutliers(cust_data, 'B_bill')
cust_data.describe()

In [ ]:
cust_data.info()

## 4. Feature Engineering

`-` 초기 데이터로부터 특징을 가공하고 생산하여 입력 데이터를 생성하는 과정

`-` Feature Engineering을 통해 AI가 학습하기 좋은 형태로 데이터를 만들거나, 새로운 입력 데이터를 생성 할 수 있음.

(이때 데이터를 수정하지 않도록 주의 합니다.)

In [ ]:
cust_data.head()

In [ ]:
cust_data['by_age']=cust_data['age']//10*10

### 4-1. Binning

`-` 단어 뜻 그대로 자료를 일정한 규격의 통에 넣는것 입니다.`-` 

`-` 만약 관측치가 연속형이면서 범위가 너무 다양할 경우, 적절히 그룹을 지어주면 데이터를 이해하기가 더 쉬워질수 있기에 사용

`-` 즉, 연속형 변수를 범주형 변수로 만드는 방법이라고 보시면 됩니다.

`-` age를 활용하여 나이대("by_age")  Feature 만들기

In [ ]:
cust_data.head()

In [ ]:
cust_data.info()

In [ ]:
#NaN값이 더이상 존재하지 않기 때문에 age와 by_age는 int로 형변환
cust_data=cust_data.astype({'age': int, 'by_age':int})

#### cut

`-` Cut 함수를 사용하면 구간을 지정해서 쉽게 범주화 할 수 있다.

`-` Bins 구간 사이의 값을 범주화 하여 Label에 지정된 카테고리명을 사용한다.

In [ ]:
q1=cust_data['avg_bill'].quantile(0.25)
q3=cust_data['avg_bill'].quantile(0.75)
print(q1,q3)

`-` cut 메소드를 활용하여 요금을 3개 구간으로 나누기

In [ ]:
?pd.cut # default : right = True

In [ ]:
cust_data['bill_rating'] = pd.cut(cust_data["avg_bill"], 
                                  bins=[0,q1,q3,cust_data["avg_bill"].max()] , 
                                  labels=['low', 'mid','high'])
cust_data.head()

In [ ]:
print(cust_data['bill_rating'].value_counts())

#### qcut

`-` cut과 비슷하지만 같은 크기로 구간을 나누어 범주형 변수로 만든다

`-` qcut 메소드를 활용하여 요금을 동일 비율로 3개 구간으로 나누기

In [ ]:
cust_data['bill_rating'] = pd.qcut(cust_data["avg_bill"], 
                                       3 , 
                                       labels=['low', 'mid','high'])

cust_data.head()

In [ ]:
print(cust_data['bill_rating'].value_counts())

### 4-2. Scaling

`-` 각 컬럼에 들어있는 데이터의 상대적 크기에 따라 분석 결과나 모델링 결과가 달라질수 있다.

`-` 0 ~ 1000까지의 값을 가지는 변수 A와 0 ~ 10까지의 값을 가지는 변수 B를 가지고 분석을 수행 

`-` 이 경우, 상대적으로 큰 숫자를 가지는 A변수의 영향이 더 크게 반영된다.

`-` 따라서, 숫자데이터는 상대적 크기 차이를 제거할 필요가 있고, 이를 scaling이라고 합니다.    

#### Standardization

`-` 정규 분포를 평균이 0 이고 분산이 1 인  표준 정규 분포로 변환합니다.

In [ ]:
cust_data_num = cust_data[['avg_bill', 'A_bill', 'B_bill']]
#표준화
Standardization_df = (cust_data_num - cust_data_num.mean())/cust_data_num.std()
Standardization_df.head()

In [ ]:
Standardization_df.describe()

####  Normalization
값들을 모두 0과 1사이의 값으로 변환

$$\text {normalization} = \frac {X-min_{x}}{max_{x}-min_{x}}$$

`-` 사이킷런 패키지의 MinMaxScaler를 이용하여  Scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

normalization_df=cust_data_num.copy()

normalization_df[:]=scaler.fit_transform(normalization_df[:])

normalization_df.head()

In [ ]:
normalization_df.describe()

`-` MinMaxScaler 함수 구현하기

In [ ]:
normalization_df = (cust_data_num - cust_data_num.min())/(cust_data_num.max()-cust_data_num.min())
normalization_df.head()

### 4-3. One-Hot Encording

`-` 원-핫 인코딩은 간단히 말해 한 개의 요소는 True, 나머지 요소는 False로 만들어 주는 기법

`-` 기계 학습의 주요 문제 중 하나는 많은 알고리즘이 범주형 데이터를 입력값으로 수용하지 않는다는 점이다. 

`-` 이를 One-Hot Encording을 통해 해결 할 수 있다.

`-` 정수 치환으로 해결 할 수도 있지만 이럴 경우 성능이 저하되거나 예상치 못한 결과가 발생할 수 있다.

`-` pandas에서는 `get_dummies`함수를 사용하면 쉽게 One-Hot Encording이 가능

In [ ]:
pd.get_dummies(cust_data['class'])

`-` columns를 사용해서 기존 테이블에 One-Hot Encording으로 치환된 변수 생성하기

In [ ]:
cust_data_end=pd.get_dummies(cust_data, columns=['class'])
cust_data_end

***

## [실습2] 수업용 데이터 이상치 처리와 Feature Engineering 하기


cust 데이터의 이상치는 제거하고, 나이는 5단위로 범주화, 평균 요금은 5개 구간으로 나누어 새로운 변수를 만들어 데이터를 저장

* 이상치 : InterQuartile Range의 1.5배가 넘는 수 (처리 대상 Feature : avg_bill, A_bill, B_bill)
* by_age : 나이는 0 ~ 4세는 0/ 5 ~ 9세는 5 / 10 ~ 14세는 10으로 5단위 범주화
* bill_rating : 전체 평균 요금을 균등비율로 low / lowmid / mid / midhigh / high 5단계로 구분

In [ ]:
#이상치를 제거하는 함수 만들기
def removeOutliers(x, column):
    # Q1, Q3구하기
    q1 = x[column].quantile(0.25)
    q3 = x[column].quantile(0.75)
    
    # 1.5 * IQR(Q3 - Q1)
    iqr = 1.5 * (q3 - q1)
    
    # 이상치를 제거
    y=x[(x[column] < (q3 + iqr)) & (x[column] > (q1 - iqr))]
    
    return(y)

In [ ]:
cust_data=removeOutliers(cust, 'avg_bill')
cust_data=removeOutliers(cust_data, 'A_bill')
cust_data=removeOutliers(cust_data, 'B_bill')

In [ ]:
cust_data['by_age']=cust_data['age']//5*5
cust_data=cust_data.astype({'age': int, 'by_age':int})

In [ ]:
cust_data['bill_rating'] = pd.qcut(cust_data["avg_bill"], 5 , labels=['low','lowmid', 'mid','midhigh','high'])
cust_data.head()

In [ ]:
cust_data.to_csv('cust_data.csv', index=False)